Form{
  margin-left: 200px;
  margin-top: 50px;
  border-radius:10 10 ;
  /* margin:  0 auto; */
  overflow: hidden;
  margin-right: 300px;
 
 }
 form::target-text{
   background-color: lavender;
 }
 
 /* button{
   border: indigo;
   border-radius: 10px;
 } */
 
 .user_data{
   margin-right: 100px;
   margin-left: 100px;
 }
 .Toast{
   display: flex;
 }
 